body {
 	 height: 100%;
  	margin: 0px;
}
.header {
	min-height: 50px;
	background-color: black;
	text-decoration-style: none;
	display: flex;
	justify-content: flex-end;
}

.nav ul li {
	display: inline;
	margin: 10px 20px 10px 10px;
}

.nav ul li a {
	color: white;
	list-style-type: none;
	text-decoration: none;

}

.cont1 {
	color: white;
	display: flex;
	min-height: 350px;
	background-color: #c62d2d;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column; 

}

h1 {
	margin: 0px;
}

button {
	margin-top: 5px;
	width: 100px;
	height: 30px;
}

.cont2 {
	display: flex;
	min-height: 200px;
	background-color: #35ba21;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column; 
}

.cont2 img {
	width:50px;
	height:50px;
	margin-top: 45px;
	margin-bottom: 15px;
}

.cont2{
	font-weight: bold;
	color: white;
}

.cont2 p {
	font-weight: bold;
	color: white;
	margin: 0px 50px;
	margin-top: 20px;
	margin-bottom: 45px;
}

.cont3 {
	font-weight: bold;
	display: flex;
	min-height: 300px;
	background-color: #9265ce;
}

.cont3text {
	margin: 25px 120px 25px 20px;
	display: flex;
	flex-direction: column;
}

.cont3 h2,p {
	justify-content: flex-end;
	color: white;
}

.cont3 img {
	width: 400px;
	height: 260px;
	margin: 25px 40px 25px 50px;
}

.cont4 {
	font-weight: bold;
	display: flex;
	min-height: 300px;
	background-color: #361d56;
}

.cont4text {
	margin: 25px 120px 25px 50px;
	display: flex;
	flex-direction: column;
}

.cont4 h2,p {
	justify-content: flex-start;
	color: white;
}

.cont4 img {
	width: 400px;
	height: 260px;
	margin: 25px 50px 25px 0px;
}

.footer {
	display: flex;
	background-color: #545660;
	justify-content: space-between;
	list-style-type: none;
}

.footer p {
	margin: 2px 50px;
	text-decoration: none;
}

.footer p a {
	text-decoration: none;
}